<!DOCTYPE html>
<html ng-app="noteCollectorApp">
  <head>
    <meta charset="utf-8">
    <title>Extrospect - Browse Notes</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/main.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/index.css"  media="screen,projection"/>
    <base href="/">

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="js/noteCollectorAngular.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <!--<link type="text/css" rel="stylesheet" href="http://s.mlcdn.co/animate.css">-->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body ng-controller="NotesController">
    <!-- BODY GOES HERE -->
    <div class="navbar-fixed">
      <nav>
	<div class="nav-wrapper">
	  <form>
	    <div class="input-field">
	      <input ng-model="query" id="search" type="search">
	      <label for="search"><i style="vertical-align: middle" class="fa fa-search fa-2x"></i></label>
	    </div>
	  </form>
	  <!--<a href="#" class="brand-logo center"><i class="material-icons">library_books</i></a>-->
	</div>
      </nav>
    </div>

    <main class="content row">
      <div class="center hide-on-large-only">
	<img style="" src="http://placehold.it/468x60">
      </div>
      <div class="col s2 center hide-on-med-and-down">
	<img style="padding-right: 0px" src="http://placehold.it/160x600">
      </div>
      <div class="col l8 m12">
	<div class="fixed-action-btn click-to-toggle" style="bottom: 110px; right: 24px;">
	  <a target="_self" href="/index.html" class="btn-floating btn-large orange"><i data-position="left" data-delay="50" data-tooltip="Go back." class="fa fa-home"></i></a>
	</div>
	<div class="fixed-action-btn click-to-toggle" style="bottom: 175px; right: 24px;">
	  <a target="_self" href="/new.html" class="btn-floating btn-large red"><i data-position="left" data-delay="50" data-tooltip="Upload a note." class="fa fa-plus"></i></a>
	</div>
	<div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
	  <a target="_self" href="/help.html" class="btn-floating btn-large green"><i data-position="left" data-delay="50" data-tooltip="Help." class="fa fa-question"></i></a>
	</div>
	<div class="fixed-action-btn" style="bottom: 240px; right: 24px;">
	  <a class="btn-floating btn-large blue">
	    <i class="fa fa-sort" data-position="left" data-delay="50" data-tooltip="Sorting options."></i>
	  </a>
	  <ul id="sortingList">
	    <li><a ng-click="currentPage = 1; $scope.orderProperty = 'thumbup'" class="btn-floating btn-large green"><i class="fa fa-thumbs-up" data-position="left" data-delay="50" data-tooltip="Sort by thumbs up."></i></a></li>
	    <li><a ng-click="currentPage = 1; $scope.orderProperty = 'thumbdown'" class="btn-floating btn-large red"><i class="fa fa-thumbs-down" data-position="left" data-delay="50" data-tooltip="Sort by thumbs down."></i></a></li>
	    <li><a ng-click="currentPage = 1; $scope.orderProperty = 'comments.length'" class="btn-floating btn-large orange"><i  class="fa fa-comment" data-position="left" data-delay="50" data-tooltip="Sort by number of comments."></i></a></li>
	  </ul>
	</div>

	<div class="grey-text center row" ng-hide="filterNotes.length!=0">
	  No notes found - why not <a target="_self" href="/new.html">upload your own</a>?
	</div>
	<div style="margin-bottom: 0px" class="row" ng-repeat="note in filterNotes | start: (currentPage - 1) * entriesPerPage | limitTo: entriesPerPage | orderBy:$scope.orderProperty:true">
	  <!-- START thumb buttons -->
	  <div style="padding-left: 0px; padding-right: 0px; display: table" class="col s2 m2 l1 center">
	    <div style="margin-bottom: auto; margin-top: auto; padding-top: 10px">
	      <div class="row">
		<a noteId="{{note.id}}" ng-click="thumbUp(note.id)" style="" class="tooltipped fa-stack btn-large btn-floating green lighten-4" data-position="left" data-delay="50" data-tooltip="This is great!">
		  <span class="fa-stack">
		    <i style="font-size: 2.3rem;" class="green-text fa fa-thumbs-up fa-stack fa-stack-2x"></i>
		    <strong style="margin-top: 1.7em; font-size: 0.7em; font-weight: bolder;  margin-left: 0.15em;" class="white-text fa-stack-1x">{{note.thumbup}}</strong>
		  </span>
		</a>
	      </div>
	      <div class="row">
		<a noteId="{{note.id}}" ng-click="thumbDown(note.id)" style="" class="tooltipped fa-stack btn-large btn-floating red lighten-4" data-position="left" data-delay="50" data-tooltip="This is bad!">
		  <i style="font-size: 2.3rem;" class="red-text fa fa-thumbs-down fa-stack fa-stack-2x"></i>
		  <strong style="font-weight: bolder; font-size: 0.7em; margin-left: 0.15em; margin-top: 1.2em;" class="white-text fa-stack-1x">{{note.thumbdown}}</strong>
	      </a>
	      </div>
	    </div>
	  </div>
	  <!-- END THUMB BUTTONS -->
	  <div class="col s10 m10 l11" style="padding: 0px">
	    <div class="card grey lighten-5">
	      <div class="row">
		<div class="col s12">
		  <!--START card content-->
		  <div class="card-content">
		    <div class="row" style="margin: 0px">
		      <div class="valign-wrapper col s2 l2 hide-on-med-and-down center card-panel" style="padding: 5px; float:left; margin-left: auto; margin-right: auto">
			<img class="center" style="margin-left: auto; margin-right: auto; margin: auto; padding: 5px; max-height: 149px; max-width: 100%;width: auto; height: auto; display: block; position: relative" ng-src="{{'/preview/'+note.id}}"><!--http://placehold.it/105x149-->
		      </div>
		      <div class="col s12 m12 l10" style="margin-left: 0px">
			<span style="" class="card-title" id="note_title">
			  <strong>{{ note.title }}</strong>
			  <span class="" style="color: grey; font-size: small">
			    uploaded {{note.moment}} by {{note.author}} ({{note.filename}})
			  </span>
			</span>
			<div class="divider" style="margin-bottom: 1em"></div>
			<p class="card-panel" style="white-space: pre-wrap;" id="note_description">{{ note.description }}</p>
		      </div>
		    </div>
		    <div class="row" style="padding: 4px; margin: 0px;">
		      <div id="note_tags">
			  <div class="chip" style="margin-top: 10px; margin-right: 5px;" ng-repeat="tag in note.tags">
			    <a target="_self" href="/search.html?q={{tag}}">{{tag}}</a>
			  </div>
		      </div>
		    </div>
		  </div>
		  <!--END card content-->
		  <!--START card actions-->
		  <div class="row" style="margin-bottom: 0px">
		    <div class="col s12">
		      <div class="card-action" style="padding-top: 7px; padding-bottom: 5px">
			<span class="fa-2x"><a target="_self" href="/delete_note/{{ note.id }}" data-position="top" data-delay="50" data-tooltip="Delete this note." tooltip><i class="fa fa-remove"></i></a></span>
			<span class="fa-2x"><a target="_self" href="/download_note/{{ note.id }}" data-position="top" data-delay="50" data-tooltip="Download this note." tooltip><i class="fa fa-download"></i></a></span>
			<span class="fa-2x"><a onclick="showComments(this);" href="javascript:;" class="tooltipped" data-position="top" data-delay="50" data-tooltip="Leave a comment." noteId="{{note.id}}" tooltip><i class="fa fa-comment-o"></i></a></span>
		      </div>
		    </div>
		  </div>
		  <!--END card actions-->
		  <!--START comments panel-->
		  <div id="comments_{{ note.id }}" class="hide fadeInDown animated">
		    <div class="card-panel" ng-repeat="comment in note.comments">
		      <div style="margin-bottom: 0px" class="row">
			<!--
			    <div class="col s1">
			      <img style="" src="http://placehold.it/70x70">
			    </div>
			    -->
			<div class="col s12">
			  <header><i class="fa fa-user" style="color:rgb(200, 200, 200); padding: 0 0.5em"></i> {{ comment.author }} <em style="font-size: small; color: grey"> - @{{ comment.timestamp }} </em></header><!-- 28/6/2016, 11:11pm (AEST) -->
			  <div class="divider" style="margin-bottom: 1em">
			  </div>
			  <blockquote style="margin: 0px; margin-left: 0.1em">
			    {{ comment.body }}
			  </blockquote>
			</div>
		      </div>
		    </div>
		    <!-- new comment button -->
		    <div id="new_comment_card_{{ note.id }}" class="row card-panel">
		      <form class="col s12" enctype="multipart/form-data" action="{{'add_comment/' + note.id}}" method="post">
			<div class="row" style="margin-bottom: 0px">
			  <div class="input-field col s12">
			    <input id="note_title" placeholder="What's your name?" type="text" name="author" required>
			  </div>
			</div>
			<div class="row" style="margin-bottom: 0px">
			  <div class="input-field col s12" style="margin-top: 0px">
			    <textarea id="note_description" style="padding-top: 0px; padding-bottom: 10px" class="materialize-textarea" placeholder="Have your say!" name="body" required></textarea>
			  </div>
			</div>
			<div class="row right">
			  <div class="input-field col s12" style="margin-bottom: 0px">
			    <button id="submit" class="btn waves-effect waves-light" type="submit" name="action">Post Comment
			      <i class="material-icons left">send</i>
			    </button>
			  </div>
			</div>
		      </form>
		    </div>
		  </div>
		  <!--END comments panel-->
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div class="col s2 center hide-on-med-and-down">
	<img style="" src="http://placehold.it/160x600">
      </div>
    </main>
    <!-- START PAGINATION -->
    <div class="center container">
      <div class="row">
	<ul class="pagination">
	  <li class="waves-effect"><a ng-click="currentPage=currentPage-1" href="javascript:window.scrollTo(0, 0);"><i class="material-icons">chevron_left</i></a></li>
	  <span ng-repeat="num in range(1 + filterNotes.length/entriesPerPage)"><li ng-click="num==currentPage ? undefined : setPage(num)" class="{{ num==currentPage ? 'active orange white-text waves-light' : '' }} waves-effect">{{num}}</li></span>
	  <li class="waves-effect"><a ng-click="currentPage=currentPage+1" href="javascript:window.scrollTo(0, 0);"><i class="material-icons">chevron_right</i></a></li>
	</ul>
      </div>
    </div>
    <!-- END PAGINATION -->
    <div class="center hide-on-large-only">
      <img style="" src="http://placehold.it/468x60">
    </div>
    <footer class="page-footer">
      <div class="container">
	<div class="row">
	  <div class="col l6 s12">
	    <h5 class="white-text">About Extrospect</h5>
	    <p class="grey-text text-lighten-4">Extrospect is a free service for sharing and organising study notes.</p>
	  </div>
	  <div class="col l4 offset-l2 s12">
	    <h5 class="white-text">Contact</h5>
	    <ul>
	      <li><a class="grey-text text-lighten-3" target="_self" href="mailto: nick.malecki@hotmail.com">Email</a></li>
	      <li><a class="grey-text text-lighten-3" target="_self" href="https://au.linkedin.com/in/nick-malecki-95747a119">Linkedin</a></li>
	    </ul>
	  </div>
	</div>
      </div>
      <div class="footer-copyright">
	<div class="container center">
	  © 2016 Nicholas Malecki
	</div>
      </div>
    </footer>
  </body>
</html>
